<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1180.v04c4e75dce43">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2687.v3f09155513c1">
    <script>node {
    stage(&apos;Clone Project&apos;) {
          git branch: &quot;main&quot;,
              url: &apos;https://github.com/fatih-dagli/kubernetes-env-creation-with-aws.git&apos;
    }

    stage(&apos;Build Project&apos;) {
        dir(&quot;/var/lib/jenkins/workspace/initial-deploy/kubernetes&quot;) {
            sh &quot;aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 553882164358.dkr.ecr.us-east-1.amazonaws.com&quot;
            sh &quot;docker build -t python:built .&quot;
            sh &quot;docker tag 553882164358.dkr.ecr.us-east-1.amazonaws.com/python:latest&quot;
            sh &quot;docker push 553882164358.dkr.ecr.us-east-1.amazonaws.com/python:latest&quot;
        }
    }

    stage(&apos;send yaml files &apos;) {
        dir(&quot;/var/lib/jenkins/workspace/initial-deploy/kubernetes&quot;) {
            sh &quot;sshpass -p &apos;Operation123&apos; scp mysql.yml -o StrictHostKeyChecking=no root@xxx.xxx.xxx.xxx:/ &quot;
            sh &quot;sshpass -p &apos;Operation123&apos; scp python.yml -o StrictHostKeyChecking=no root@xxx.xxx.xxx.xxx:/ &quot;
        }
    }

    stage(&apos;Build mysql&apos;) {
        dir(&quot;/var/lib/jenkins/workspace/initial-deploy/kubernetes&quot;) {
            sh &quot;sshpass -p &apos;Operation123&apos; ssh -o StrictHostKeyChecking=no root@xxx.xxx.xxx.xxx &apos;kubectl apply -f /mysql.yml&apos;&quot;
        }
    }

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>